name: Publish Docker

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    name: Build and push Docker image
    runs-on: ubuntu-latest

    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Pushes l1 to ghcr.io/lambdaclass/ethrex
      - name: Build and push L1 Docker image
        id: push_l1
        uses: ./.github/actions/build-docker
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:main

      # Pushe l2 to ghcr.io/lambdaclass/ethrex
      - name: Build and push L2 Docker image
        id: push_l2
        uses: ./.github/actions/build-docker
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          push: true
          build_args: BUILD_FLAGS=--features l2,l2-sql
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:main-l2
